In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from src.utils.ds_formatter import format_all

OLD_F_METADATA = "./data/HT_Sensor_metadata.dat"
F_METADATA = "./data/HT_Sensor_metadata_new.dat"
OLD_F_DATASET = "./data/HT_Sensor_dataset.dat"
F_DATASET = "./data/HT_Sensor_dataset_new.dat"

format_all(OLD_F_METADATA, F_METADATA, OLD_F_DATASET, F_DATASET)

In [12]:
md = pd.read_csv(F_METADATA, sep=",")
md.head()

   id      date   class     t0    dt
0   0  07-04-15  banana  13.49  1.64
1   1  07-05-15    wine  19.61  0.54
2   2  07-06-15    wine  19.99  0.66
3   3  07-09-15  banana   6.49  0.72
4   4  07-09-15    wine  20.07  0.53

In [14]:
md = pd.read_csv(F_DATASET, sep=",")
md.head()

,id,time,R1,R2,R3,R4,R5,R6,R7,R8,Temp.,Humidity
0,0,-0.999750,12.8621,10.3683,10.4383,11.6699,13.4931,13.3423,8.04169,8.73901,26.2257,59.0528
1,0,-0.999472,12.8617,10.3682,10.4375,11.6697,13.4927,13.3412,8.04133,8.73908,26.2308,59.0299
2,0,-0.999194,12.8607,10.3686,10.4370,11.6696,13.4924,13.3405,8.04101,8.73915,26.2365,59.0093
3,0,-0.998916,12.8602,10.3686,10.4370,11.6697,13.4921,13.3398,8.04086,8.73936,26.2416,58.9905
4,0,-0.998627,12.8595,10.3688,10.4374,11.6699,13.4919,13.3390,8.04087,8.73986,26.2462,58.9736