In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

F_METADATA = "./data/HT_Sensor_metadata.dat"
F_DATASET = "./data/HT_Sensor_dataset.dat"

In [11]:
md = pd.read_csv(F_METADATA, sep="\t")
md.head()

         id date    class     t0    dt
0  07-04-15        banana  13.49  1.64
1  07-05-15          wine  19.61  0.54
2  07-06-15          wine  19.99  0.66
3  07-09-15        banana   6.49  0.72
4  07-09-15          wine  20.07  0.53